.PriSecure{
    
    .img{

        .content{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            h1{
                width: 70%;
            }
           p{
            width: 70%;
           }
        }
    }
}