

.opdownToPage{
    padding: .5rem 1rem;
    background: var(--purple-1);
    color: var(--color-pri);
    border-radius: .5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000000000;
    width: 50px;
    height: 40px;
    // position: absolute;
  
    animation-fill-mode: both;
    animation-duration: .5s;
  animation: utdobtn .5s linear infinite alternate-reverse;
  
  &:hover{
    animation: none;
    opacity: .8;
    bottom: .5rem;
  }
    @keyframes utdobtn {
      0%{
        bottom: 0;
      }
      100%{
        bottom: 1rem;
  
      }
    }
  }